<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Public Night</th>
      <th>Group Booking</th>
      <th>Moon Viewable?</th>
    </tr>
  </thead>
  <tbody>
    <% OpenNight.future(sitemap.resources).each do |open_night| %>
      <tr>
        <td><%= link_to open_night.date, open_night.url %></td>
        <td><%= open_night.is_open ? 'Open for individuals and small groups' : 'Closed' %></td>
        <td><%= open_night.group_booking %></td>
        <td><%= open_night.moon_viewable ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
