<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Public Night</th>
      <th>Group Booking</th>
      <th>Moon Phase</th>
      <th>Moon Viewable?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>29 March</td>
      <td>Open for individuals or small groups</td>
      <td>Earth Hour: 8:00pm to 9:30pm</td>
      <td></td>
      <td>No</td>
  </tbody>
</table>
