<p>
The table below lists the open nights and the names of the society
members who have volunteered to assist with each night.
</p>

<p>
The society desperately needs more members to volunteer to help with open
nights. If you'd like to help, please contact the open night organisers at
bookings@cas.org.nz   and let them know which night or nights you are
available. Helpers must be society members, but all experience levels are
welcome. Open nights are a great time to get training and experience using the
society's telescopes as there are always experienced members on hand to help.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Open Night Event</th>
      <th>Volunteers</th>
    </tr>
  </thead>
  <tbody>
    <% Event.open_nights(sitemap.resources).each do |open_night| %>
      <tr>
        <td><%= open_night.date %></td>
        <td><%= open_night.group_booking %></td>
        <td>
          <%= open_night.helpers.join(', ') %>
          <% if open_night.more_helpers_needed? %>
            - more helpers needed!
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
